---
layout: home
---

<div class="home-intro">
  {% if site.author %}
    <div class="author-profile">
      <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" style="width:150px;height:auto;">
      <h3>{{ site.author.name }}</h3>
      <p>{{ site.author.bio }}</p>
      <ul class="social-links">
        {% for link in site.author.links %}
          <li>
            <a href="{{ link.url }}">
              <i class="{{ link.icon }}"></i> {{ link.label }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

{{ content }}
