<!DOCTYPE html>
<html lang="{{ site.lang | default: site.locale }}">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div class="container">
      <header class="site-header" role="banner">
        {%- include header.html -%}
      </header>
      <div class="wrap">
        <main class="main" role="main">
          {{ content }}
        </main>
        <aside class="sidebar" role="complementary">
          {% include sidebar.html %}
        </aside>
      </div>
      <footer class="site-footer" role="contentinfo">
        {%- include footer.html -%}
      </footer>
    </div>
    {%- include scripts.html -%}
  </body>
</html>
